# phpstorm project files
.idea
.ddev
/tests
/vendor
/runtime
/web/assets
.bowerrc

assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
